body {
    border: 5px solid red;
    background-color: black;
    color: white;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;;
  }
  h1 {font-size: 30px;}
  h2 {
    text-align: center;
    color: red;
  }
  img {
    display: block;
    margin: auto;
  }
  nav {text-align: center; margin-bottom: 80px;}
  nav ul {list-style-type: none;}
  nav ul li {display: inline;} 
  nav ul li a {padding: 20px 100px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background: red;
    text-decoration: none;
} 
nav ul li a:hover {
    color: red;
    background: white;
}